<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">clothes</h5>
    <p class="card-text"></p>
     <a href="/buy1" class="btn btn-primary">buy</a> 
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">clothes</h5>
    <p class="card-text"></p>
    <a href="/buy1" class="btn btn-primary">buy</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">clothes</h5>
    <p class="card-text"></p>
    <a href="/buy1" class="btn btn-primary">buy</a>
  </div>
</div>