<h1>{{storeName}}</h1>
<a href="/images">
    <button type="button" class="btn btn-secondary" >shoes</button>
</a>

<a href="/images2">
    <button type="button" class="btn btn-secondary">Clothes</button>
</a>