<form action="/api/task" method="POST">
    <div class="mb-3">
        <label for="full name" class="form-label">full name</label>
        <input type="text" class="form-control" id="full name" name="full name" placeholder="full name">
    </div>
    <div class="mb-3">
        <label for="E-mail" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="E-mail" name="E-mail" placeholder="E-mail">
    </div>

    <div class="mb-3">
        <label for="confirmE-mail" class="form-label"> confirm E-mail</label>
        <input type="text" class="form-control" id="confirmE-mail" name="confirm E-mail" placeholder="confirmE-mail">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="Password" class="form-control" id="Password" name="Password"
            placeholder="Password">

    </div>
        <div class="mb-3">
        <label for="confirmPassword" class="form-label"> confirm Password</label>
        <input type="confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword"
            placeholder="confirmPassword">

    </div>

    <h3>Security questions</h3>

        </div>
        <div class="mb-3">
        <label for="what is your favourite number?" class="form-label">what is your favourite number?</label>
        <input type="number" class="form-control" id="what is your favourite number?" name="what is your favourite number?"
            placeholder="what is your favourite number?">

    </div>

<select class="form-select" aria-label="Default select example">
  <option selected>What are you?</option>
  <option value="1">Employee</option>
  <option value="2">Student</option>
</select>



<a href="/">
    <button type="button" class="btn btn-secondary">Create Account</button>
</a>

</form>